<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<head>
    <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome to Project: Code's COVID-19 data visualization project!</h1>
        <p>By Kai Loh, Jimmy Berg, and Gabe Grais</p> 
        <section>
            <img class="mySlides" src="/static/plots/09-12_Confirmed.png" style="width:50%">
            <img class="mySlides" src="/static/plots/Lake_confirmed.png" style="width:50%">
            <img class="mySlides" src="/static/plots/12-12_Deaths.png" style="width:50%">
            <script>
                var myIndex = 0;
                carousel();
    
                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex > x.length) {myIndex = 1}
                    x[myIndex-1].style.display = "block";
                    setTimeout(carousel, 3000);
                }
            </script>
            <p text-align: center><a href = search><button class=grey style="height:30px;width:150px">Go to search</button></a></p>
        </section> 
    </body>
</html>